Repository FiveEat42/yebalja.com, pull requests merged in 2020-07, with the labels that each got.

#36 Add YearlyCalendar
  front/components/YearlyCalendar.js
  front/components/YearlyCalendar.module.css
  front/package-lock.json
  front/pages/index.js
Labels: front-end

#38 Improve navbar and footer design
  front/components/Footer.js
  front/components/Footer.module.css
  front/components/Header.js
  front/components/Header.module.css
  front/components/Jumbotron.js
  front/components/Layout.js
  front/components/NavBar.js
  front/components/NavBar.module.css
  front/components/Navibar.js
  front/components/Navibar.module.css
  front/components/Subtitle.js
  front/components/Subtitle.module.css
  front/components/TextLogo.module.css
  front/components/Title.js
  front/components/Title.module.css
  front/components/YearlyCalendar.js
  front/components/YearlyCalendar.module.css
  front/components/temp/Header.js
  front/pages/_app.js
  front/pages/about.js
  front/pages/boostcamp.js
  front/pages/bootcamp.js
  front/pages/faq.js
  front/pages/ftseoul.js
  front/pages/index.js
  front/pages/likelion.js
  front/pages/soma.js
  front/pages/ssafy.js
  front/pages/woowa.js
Labels: front-end

#40 Changed Table color, aligned Table and Jumbotron, Added SVG animation
  front/components/Illustration.js
  front/components/Illustration.module.css
  front/components/Jumbotron.js
  front/components/Jumbotron.module.css
  front/components/Table.js
  front/components/Table.module.css
  front/components/YearlyCalendar.js
  front/components/YearlyCalendar.module.css
  front/pages/index.js
  front/src/images/hamburger.png
  front/src/images/illustration.png
  front/src/images/yebalja.png
Labels: front-end

#39 Implementing login function on back-server
  back/app.js
  back/config/jwt.js
  back/config/passport.js
  back/package-lock.json
  back/package.json
  back/public/stylesheets/style.css
  back/routes/admin.js
  back/routes/db_gisu.js
  back/routes/db_program.js
  back/routes/login.js
  back/routes/register.js
  back/sql/member_table_change_password_length.sql
  back/sql/yebalja_db_member_table.sql
  back/views/member/login.pug
  back/views/member/register.pug
  back/views/member/register_function.js
  back/views/register.pug
  back/views/register_success.pug
Labels: back-end, database

#44 Merge with home/daelee, Modify Yearly design, Modify Table design and content, Modify Header margin
  front/components/Badge.js
  front/components/Badge.module.css
  front/components/CTA.js
  front/components/CTA.module.css
  front/components/Header.module.css
  front/components/HorizontalTimeline.js
  front/components/HorizontalTimeline.module.css
  front/components/Illustration.js
  front/components/Jumbotron.js
  front/components/Layout.module.css
  front/components/Review.js
  front/components/Review.module.css
  front/components/Table.js
  front/components/Table.module.css
  front/components/YearlyCalendar.js
  front/components/YearlyCalendar.module.css
  front/components/temp/Hamburger.js
  front/components/temp/Hamburger.module.css
  front/components/temp/HorizontalTimeline.js
  front/components/temp/HorizontalTimeline.module.css
  front/pages/boostcamp.js
  front/pages/index.js
  front/pages/likelion.js
  front/src/image/badge.png
  front/src/image/pointer.png
  front/src/image/pointerpurple.png
Labels: front-end

#45 Improve YearlyCalendar component
  front/components/Review.js
  front/components/Review.module.css
  front/components/YearlyCalendar.js
  front/components/YearlyCalendar.module.css
  front/pages/boostcamp.js
Labels: front-end

#46 Configuring SSL certificates for Https.
  .gitignore
  back/config/jwt.js
  back/models/db_config.js
  back/package-lock.json
  back/package.json
  back/routes/register.js
  back/sql/yebalja_db.sql
  front/keys/cert.pem
  front/keys/key.pem
  front/package.json
  front/server.js
Labels: back-end

#52 add timeline shadow, modify font to Nanum BarunGothic
  front/components/Header.module.css
  front/components/HorizontalTimeline.module.css
  front/components/Jumbotron.module.css
  front/components/Table.module.css
  front/components/YearlyCalendar.module.css
Labels: front-end

#53 Add review component
  front/components/Review.js
  front/components/Review.module.css
Labels: front-end

#54 Add FAQ component
  front/components/FAQ.js
  front/components/FAQ.module.css
  front/pages/boostcamp.js
Labels: front-end

#55 Add logout function, Redesign login page
  back/app.js
  back/config/db_config.js
  back/routes/db_gisu.js
  back/routes/db_program.js
  back/routes/index.js
  back/routes/json.js
  back/routes/login.js
  back/routes/logout.js
  back/routes/register.js
  back/sql/gisu_table_add_column.sql
  back/sql/member_table_change_password_length.sql
  back/sql/yebalja_db.sql
  back/sql/yebalja_db_gisu_table.sql
  back/sql/yebalja_db_member_table.sql
  back/sql/yebalja_db_program_table.sql
  back/views/index.pug
  back/views/layout.pug
  back/views/member/login.pug
Labels: back-end, server

#58 Fix font, fix woowa grant, fix mobile screen table badges, modify yearly header position, modify table align
  front/components/Badge.module.css
  front/components/BadgeAptitude.js
  front/components/BadgeCoding.js
  front/components/BadgeInterview.js
  front/components/BadgeTryout.js
  front/components/Header.module.css
  front/components/HorizontalTimeline.module.css
  front/components/Jumbotron.module.css
  front/components/Table.js
  front/components/Table.module.css
  front/components/YearlyCalendar.js
  front/components/YearlyCalendar.module.css
  front/pages/index.js
  front/src/image/aptitude badge.png
  front/src/image/coding test badge.png
  front/src/image/favicon.ico.png
  front/src/image/interview badge.png
  front/src/image/tryout badge.png
  front/src/image/tryout.png
Labels: front-end

#60 Bugfix/mihykim
  front/components/Footer.js
  front/components/NavBar.module.css
  front/components/TopButton.js
Labels: bug, front-end

#63 Refactor port number and Remove pubile build folder
  back/app.js
  back/bin/www
Labels: back-end

#64 Fecthing from Back server to front page(index.js)
  front/components/Table.js
  front/package-lock.json
  front/package.json
  front/pages/index.js
Labels: front-end
